<%= form_tag password_resets_path, :method => :post do %>
  <div class="field span-5">
    <%= label_tag :registered_email, nil %>
    <%= text_field_tag :registered_email, nil, :class => "title span-5" %>
  </div>
   <div class="actions span-5 last">
		<%= submit_tag "Send Instructions", :class => "button gray large span-5 last" %>
   </div>
<% end %>