<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email, nil, :class => "span-2" %><br />
    <%= text_field_tag :email, nil, :class => "text append-2 last" %>
  </div>
   <div class="actions">
		<%= submit_tag "Reset my password!" %>
   </div>
<% end %>