<%= form_tag password_resets_path, :method => :post do %>
  <div class="field span-8 last">
    <%= label_tag :email, nil %>
    <%= text_field_tag :email, nil, :class => "text span-8" %>
  </div>
   <div class="actions span-8 last">
		<%= submit_tag "Reset my password!" %>
   </div>
<% end %>