<h1>Sign Up</h1>

	<%= render :partial => 'signup_form', :locals => { :user => User.new } %>

<div>
	<%= link_to 'Sign up with Twitter', auth_at_provider_path(:provider => :twitter) %> | 
	<%= link_to 'Sign up with Facebook', auth_at_provider_path(:provider => :facebook) %>
</div>