<section class="prepend-1 append-1">
	<h1>What is Stacks?</h1>
	<p>Find out the latest and greatest news about how our tiny reader is changing the way people do business. You can also keep up with us via Twitter and Facebook.</p>
</section>
<hr/>
<section class="prepend-1 append-1">
<p>Find out the latest and greatest news about how our tiny reader is changing the way people do business. You can also keep up with us via Twitter and Facebook.</p>
</section>