<header class="prepend-top prepend-1 span-10 append-1">
	<h1>Educational resource gathering made simple and social.</h1>
	<h2>Sign up now and get free access!</h2>
</header>
<div class="signup_form prepend-1 span-10 append-1 append-bottom">
	<%= render :partial => 'users/signup_form', :locals => { :user => User.new } %>
</div>
<hr/>
<section>
	<ul class="features prepend-top prepend-1 span-10 append-1 append-bottom">
		<li>
			<h3>Feature title 1</h3>
			<p>Description of the feature</p>
		</li>
		<li>
			<h3>Feature title 2</h3>
			<p>Description of the feature</p>
		</li>
		<li>
			<h3>Feature title 3</h3>
			<p>Description of the feature</p>
		</li>
	</ul>
</section>