// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "rounded";

body.home {

	background: #EBEEF1;

	header.main_header {
		background:#fff;

		@include rounded(top-left,10px);
		@include rounded(top-right,10px);

		padding-top:1em;
		padding-bottom:1em;

		.logo {
			float:left;
			text-align:left;
			width:150px;
		}
		.actions {
			float:right;
			text-align:right;
			margin-top:.3em;
		}
	}

	#main_section {
		margin-top:10px;
		background:#f0f0f0 url('home_main_content_bg.png');
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
		-o-border-radius:8px;
		border-radius:8px;
		moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
		-o-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
		header {
			h1, h2 {
				text-shadow:0 1px rgba(255,255,255, 1);
			}
		}
		.signin_form {
			input[type="submit"]#sign_in_submit {
				width:390px;
				font-size:1.25em;
			}
		}
		#forgot_password {
			input[type="submit"] {
				font-size:1.25em;
			}
		}
	}

	.features {
		ul {
			list-style:none;
			li {
				text-shadow:0 1px rgba(255,255,255, 1);
				padding-left:75px;
				background: {
					repeat:no-repeat;
				}
				min-height:55px;
				h3 {
					font-size:1.65em;
					margin-bottom:.25em;
				}
				h4 {
					font-size:1.4em;
					color:#666;
				}
				&.feature-1 {
					background-image:url('feature-1.gif');
				}
				&.feature-2 {
					background-image:url('feature-2.gif');
				}
				&.feature-3 {
					background-image:url('feature-3.gif');
				}
				&.feature-4 {
					background-image:url('feature-4.gif');
				}
				&.feature-5 {
					background-image:url('feature-5.gif');
				}
				&.feature-6 {
					background-image:url('feature-6.gif');
				}
				&.feature-7 {
					background-image:url('feature-7.gif');
				}
				&.feature-8 {
					background-image:url('feature-8.gif');
				}
			}
		}
	}

	.schools {
		ul {
			list-style:none;
			li {
				text-shadow:0 1px rgba(255,255,255, 1);
			}
		}
	}

	footer {
		margin-top:1em;
		text-align:center;
		ul {
			list-style:none;
			li {
				display:inline;
				padding:0 1em;
				a {
					color:rgba(0,0,0,.6);
					text-shadow:0 1px rgba(255,255,255, 1);
					text-decoration:none;
					font-size:1.2em;
				}
			}
		}
	}
}